doctype html
html(ng-app="mainApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-route.min.js")
    script(src="/javascripts/angular-resource.min.js")
    script(src="/javascripts/myapp.js")
  body
    block content
